# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Test cache & coverage
.pytest_cache/
coverage/

# Build artifacts
*.egg-info/
build/
dist/

# Env & secrets
.venv/
.env
.env.*
cache/

# Logs and temp
*.log
*.zip
*.tar
*.gz

# Editor & IDE
.idea/
.vscode/
.DS_Store
.mypy_cache/

# Git
.git/