# Python cache
__pycache__/
*.py[cod]

# Test cache & coverage
.pytest_cache/
coverage/

# Build artifacts
*.egg-info/
build/
dist/

# Env & secrets
venv/
.venv/
.env
.env.*
/cache/

# Logs, archives, and DBs
*.log
*.zip
*.tar
*.gz
*.sqlite3
*.db

# Editor & IDE
.idea/
.vscode/
.DS_Store

# Git
.git/